@media screen and (max-width : 991px)
{
     
     .header-section
     {
      height: 300px;
     }
     .logos
     {
      flex-wrap: wrap;
      gap: 15px;
      justify-content: space-around;
     }
     .img
     {
      aspect-ratio: 10/4;
     }
     .three
     {
      padding: 10px;
     }
     .head
     {
      padding: 0px 30px;
     }
     .card
     {
      padding: 15px;
     }
    .port
    {
        justify-content: space-between;
        margin-left: 40px;
        margin-right: 40px;
    }
    .burger-icon 
    {
      color: red;
    }
    .list p
    {
       display: none;
    }
    .pic
    {
      padding: 5px;
      margin-bottom: 15px;
      gap: 40px;
    }
    .pict
    {
      width: 400px;
      padding: 20px;
    }
    .main-box
    {
      padding: 5px;
    }
    .inner-box
     {
      display: grid;
       flex-wrap: wrap;
       column-gap: 20px;
       row-gap: 25px;
       /* grid-template-columns: 250px 250px 250px 250px; */
       grid-template-columns: repeat(4,1fr);
     }
    .card
     {
       border-radius: 15px;
     }

}
@media screen and (max-width: 661px) 
{
  .logos
  {
    gap: 20px;
    flex-wrap: wrap;
  }
  .header-right
  {
    height: 200px;
  }
  .header-right2
  {
    height: 200px;
  }
  .pic
  {
    width: 600px;
    gap: 40px;
    flex-wrap: wrap;
  }
  .pict
  {
    height: 190px;
    width: 250px;
    border-radius: 15px;
  }
  .foot-list-img
  { 
    display: none;
  }
  .footbox2
  {
   justify-content: center;
  }
  .inner-box
  {
    flex-wrap: wrap;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
  }
  .card
  {
    border-radius: 20px;
    width: 230px;
  
  }
  .logos
  {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
  }
  .company p
  {
    font-size: 20px;
    font: bold;
  }
  .img
  {
    aspect-ratio: 18/7;
  }

}